// TODO: TO BE MOVED TO TAILWIND CSS

.content {
	grid-area: main;
	display: grid;	
	grid-template-areas: 'content';
}

.content-wrap .content:first-child {
	height: 100vh;
}

.content--layout {
	grid-template-areas:  'title-up title-down' 
						  'img img'
						  'text text';
}

.content__img {
	grid-area: img;
}



.content__img--3 {
	aspect-ratio: 1000/560;
}


.title--up {
	grid-area: title-up;
	// font-style: italic;
	
}

.title--down {
	grid-area: title-down;
	font-variation-settings: "wdth" 140, "wght" 350;
}

.content__text {
	grid-area: text;
}

@media screen and (min-width: 53em) {

	.title {
		font-size: clamp(2rem, 15vw, 9rem);
	}

	.content-wrap:not(:last-child) {
		margin-bottom: 30vmax;
	}



	.content__img--3 {
		width: 30vw;
		align-self: center;
	}


	.content--layout-3 {
		grid-template-areas: 'title-up img title-down'
			'text text text';
		grid-template-columns: 20vw auto 20vw;
		grid-template-rows: auto auto;
		row-gap: 10vh;
		column-gap: 2vw;
		justify-content: center;
		align-content: center;
	}


	.title--up {
		justify-self: end;
		align-self: start;
	}

	.content--layout-3 .title--up {
		justify-self: end;
		align-self: center;
	}

	.title--down {
		justify-self: start;
		align-self: end;
	}

	

	.content--layout-3 .title--down {
		align-self: center;
	}

	.content--layout-3 .content__text {
		column-count: 1;
		column-gap: 4vw;
		max-width: 590px;
		text-align: justify;
	}

	.card-wrap {
		grid-template-columns: repeat(3, 250px);
	}
}
