 .content {
	padding: 0 2rem;
	display: grid;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	position: relative;
	justify-content: center;
	align-items: start;
	font-family: "FranchiseFree", sans-serif;
	font-weight: 300;
   grid-template-columns: 2fr 1fr;
}

.content h2 {
	font-size: 16vw;
	line-height: 1;
	margin: 0;
	pointer-events: none;
	background-color: #fff7e9;
	// background-image: linear-gradient(45deg, #e8c942, #9462d1);
	// background-size: 100%;
	// background-repeat: repeat;
   background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
  	font-family: "FranchiseFree", sans-serif;
	font-weight: 400;
  font-size: 14.25vw;

}
.content .left {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
.content h2 i {
	font-family: "FranchiseFree", sans-serif;
	font-weight: 400;
	font-style: normal;
	// letter-spacing: -1.75vw;
	font-size: 14.25vw;
}

.content-left-image {
height: 350px;
}


.right img {
   height: 500px;
 }
.cursor {
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 99;
	mix-blend-mode: var(--cursor-blend-mode);
	--size: calc(100vw / var(--columns));
}

.cursor_inner {
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor_inner_box {
	width: var(--size);
	height: var(--size);
	background: var(--cursor-bg);
	opacity: 0;
	border-radius: var(--cursor-radius);
}


@media screen and (min-width: 53em) {
	:root {
		--columns: 30;
		--page-padding: 2rem;
	}
}




.header ul {
  width: 100%;
  text-align: center;
  align-items: center;
  // display: inline-block;
}
