@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --page-padding: 1rem;
    --columns: 15;
    --cursor-radius: 0;
    --cursor-bg: #5cafc1;
    --cursor-blend-mode: screen;
  }
  :root[data-theme~="light"] {
    --color-background: #fff;
    --text-background: #000;
  }
  :root[data-theme~="dark"] {
    --color-background: #000;
    --text-background: #fff7e9;
  }
  html {
    @apply bg-backgroundColor;
  }
}

@font-face {
  font-family: 'FranchiseFree'; 
  src: url('https://cdn.jsdelivr.net/gh/200-DevelopersFound/SnapStore@main/portfolio/fonts/Franchise/Franchise-Free-Bold.otf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
} 

/* rt url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap') */
@font-face {
  font-family: 'JosefinSlab';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap'); 
  font-weight: normal; 
  font-style: normal; 
} 

p, span, h1, h2, h3, h4, h5, h6, a {
  background-color: var(--text-background);
  // background-image: linear-gradient(45deg, #e8c942, #9462d1);
  // background-size: 100%;
  // background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}


