//TODO: tobe added new image and enable the animation 

.animatedTextFill {
    /* Clip Background Image */
    
        background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
    
        /* Animate Background Image */
        animation: aitf 80s linear infinite;
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;
    
        /* Activate hardware acceleration for smoother animations */
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
}


@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
